[package]
name = "ayaya_native"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
jni = "0.19.0"
ffmpeg-next = "5.0.3"
lazy_static = "1.4.0"
tokio = { version = "1", features = ["full"] }
anyhow = "1.0"

[lib]
crate_type = ["cdylib"]

[profile.release]
strip = "symbols"
opt-level = 3